body{
    background: radial-gradient(circle,#F6F26B, #80C406);
}
.Uicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: rgb(49, 128, 0);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: solid green;
    border-width: 10px;
}
.days{
    padding: 5px;
    color: #466909;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.container{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 20px;
    align-items: center;
    place-items: center;
    place-content: center;
}
h3{
    color: rgb(49, 128, 0);
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}